input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 20px;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #bae6fd;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0284c7; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0369a1; 
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }